footer{
    position: absolute;
    bottom: 0;
    height: 10%;
    background-color: grey;
    opacity: 0.8;
    width: 100vw;
    ul{
        margin-top: -10px;
        margin-left: 150px;
        color: white;
    }
}